html 
    head 
        title Tell me about this movie
    body  
        h1 Add your favorite movie
        form(method='POST')
            label(for='title') Title
            input(type='text', name='title', id='title', required)
            label(for='description') Description
            input(name='description', id='description', required)
            label(for='stars') Review
            input(type='submit', id='submit', value='Add')
