html
    head 
        title Main page 
    body 
        div 
            label(for='filter') Filter your film list 
            input#filter(type="text" name="filter")
            input(type="submit" onclick="document.location = '/search?filter=' + window.filter.value;")
        h1 Your films:
        ul
            each film in films
                li
                    a(href="/film?id=" + film.id, id="film-" + film.id, name="film-" + film.id) #{film.title}
        a(href="/add") Add a film 
