html 
    head 
        title Search result 
    body 
        search result for #{query}
        each film in result 
            div 
                a(href="/film?id=" + film.id, id="film-" + film.id, name="film-" + film.id) #{film.title}
        a(href="/") Homepage
